@charset "UTF-8";

	footer{
		position: absolute;
		width: 100%;
		height: 200px;
		background-color: #5b5757;
	}
	footer img {
		border-radius: 50%;
		width: 90px;
		height: 90px;
		margin-top: 7px;
	}
	.footer-image{
		float: left;
	}
	.footer-info{
		text-align: center;
		padding: 30px;
	}
	.footer-info span{
		color:white;
		font-size: 20px;
		font-family:"Love Ya Like A Sister",fantasy;
	}
	.footer-info p{
		margin-top: 5px;
		color: white;
		font-family:"Love Ya Like A Sister",fantasy;
	}
	.footer-info img{
		width:25px;
		height: 25px;
		margin-top: 10px;
	}