/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and padding for the whole page */
body {

}

/* Container for the store information */
.container {
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    
}

td{
	height : 40px;
	color : black;
}

.center-box{
	display: flex;
 	flex-direction: column;
 	justify-content: center;
  	align-items: center;
  	padding : 80px;
	
}


/* Header section with image and stoSre name */
.store-header {
	width : 500px;
	display : flex;
    justify-content: space-between;
    text-align: center;
    margin : auto auto 50px auto;
}

.store-main-img {
    width:150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
    overflow: hidden;
}

.store-introduce {
	border : 2px solid #397BE6;
	border-radius : 20px;
	width : 250px;
	height : 100px;
	display : flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	padding : 20px;
    font-size: 1.2em;
    color: black;
}

/* Details section styling */
.store-details {
    padding: 10px 20px;
   	width : 400px;
   	margin: auto;
}

.store-details p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.store-details strong {
    width : 150px;
    color: black;
    display: inline-block;
}