body {
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

main {
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.center-box{
	width: 1500px;
	display: flex;
 	flex-direction: column;
 	justify-content: center;
  	align-items: center;
	margin: 50px auto;
	
}

/* 메뉴 항목 스타일 */
.menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    background-color: #fff;
}

.menu-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.menu-details {
    padding: 15px;
}

.menu-name {
    font-size: 1.5em;
    margin: 0;
}

.menu-category {
    margin: 5px 0;
    text-align : center;
    color: #666;
}

.menu-price, .menu-description {
    margin: 5px 0;
    color: #666;
}