
body {
	background-color: #e8e8e8;
}

.fixed-scroll {
    position: fixed; /* 고정된 위치에 배치 */
    top: 0; /* 화면 상단에 위치 */
    left: 0; /* 왼쪽에 위치 */
    width: 100%; /* 전체 화면 너비만큼 너비 설정 */
    height: 100vh; /* 화면 높이만큼 높이 설정 */
    overflow-y: scroll; /* 세로 스크롤을 항상 표시 */
}

.header {
    position: fixed; /* Header를 화면 상단에 고정 */
    top: 0;
    width: 100%; /* 전체 화면 너비만큼 */
    z-index: 1000; /* 다른 요소들보다 위에 표시 */
    background-color: #e8e8e8; /* 원하는 배경색 */
    height : 150px;
}

#businMmenu {
	width: 1500px;
	display: flex;
	justify-content: center;
	margin: 150px auto;
}

#myPageMenuWrapper {
	width: 215px;
	height: 400px;
	background-color: white;
	border-radius: 10px;
	display : column;
	position : sticky;
	top: 150px;
    z-index: 999;
}

#myPageMenu {
	margin: auto;
	width: 200px;
	height : auto;
}

.title {
	margin-bottom: 8px;
	display: inline-block;
	text-decoration: none;
}
.content {
	display: inline-block;
	margin-left: 15px;
	margin-bottom: 8px;
	text-decoration: none;
	color: #1d1d1d;
	font-size: 14px;
}

#iframe {
	margin : 0px 0px 0px 10px;
	background-color: white;
	border-radius: 10px;
	z-index : 1000;
}


.center-box{
	width: 1500px;
	display: flex;
 	flex-direction: column;
  	align-items: center;
	margin: 150px auto;
	
}

.div_footer {
	position: relative;
}